.container {
  text-align: center;
}

.main {
  margin-top: 2rem;
}

.main input {
  border: 1px solid #ccc;
  border-right: none;
  height: 2.4rem;
  width: 25rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  padding-left: 1rem;
}

.main button {
  height: 2.5rem;
  background-color: hwb(270 20% 40%);
  color: #fff;
  padding: 0 2rem;
  border: 1px solid hwb(270 20% 40%);
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  cursor: pointer;
}

.main button:hover {
  background-color: rgb(102, 51, 153, 0.8);
}
