.form {
  background: #fff;
  box-shadow: 0.1rem 0.3rem 1rem #aaa;
  border-radius: 0.2rem;
  overflow: hidden;
  margin: 0 auto;
}

.controls {
  display: flex;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.control select {
  height: 2rem;
  width: 10rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
}

.control label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
